/* NOTE: use this file for foundational styles, used on EVERY page */

/* SECTION Framework imports */

/* tailwindcss@4.1.12 */
@import "tailwindcss";

/* 🌼 daisyUI 5.0.54 */
@plugin "daisyui" {
  themes: dark --default;
}

/* SECTION: Module imports */
@import "./css/typography.css";
@import "./css/colors.css";
@import "./css/components.css";

/* SECTION: global styling */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  /* full screen layout */

  height: 100%;
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.082) rgba(255, 255, 255, 0);
}
