@import "tailwindcss";
@plugin "daisyui";

#root {
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* IMPORTED GOOGLE API FONTS */

.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kumbh-sans-regular {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

.sniglet-regular {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sniglet-extrabold {
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
}
